{% extends 'base.html' %}


<style>
    .about-1 {
        padding-left: 50px;
    }
</style>

<title>
    {% block title %}
        Keneasyio - about
    {% endblock title %}
</title>

{% block content %}
    {% include 'menu.html' %}
    <div class="about">
        <div class="about-1">
            <h1 class="about-1-h1">В чем цель проекта?</h1>
            <p class="about-1-p">Мы хотим дать возможность развития магазина за его пределами.<br> Выставляйте свои ходовые товары тут и получайте отзывы от пользователей</p>
        </div>

        <div class="about-2">
            <h1 class="about-2-h1">Что тут есть?</h1>
            <p class="about-2-p">Пользователи могут создать аккаунт и пользоваться всеми преимуществами нашего сайта.<br> В планах реализовать корзину или систему сохранения заинтересовавших товаров.<br> На сайте можно смотреть и фильтровать продукты, а также переходить на страницу самого магазина</p>
        </div>

        <div class="about-1">
            <h1 class="about-3-h1">В чем смысл?</h1>
            <p class="about-3-p">Секонд-Хенды - магазины, которые дают вторую жизнь вещам, а мы помогаем это реализовать</p>
        </div>
    </div>
{% endblock content %}