{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>

    {% include 'menu.html' %}<br><br>

    <div class="block-1">
        <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" style="float: right; padding-bottom: 200px; width: 250px; margin-right: 10%;">
        <h1 class="block-1-h1">Найди то, что захочешь</h1>
        <div style="clear: left"></div>
        <p class="block-1-p">На нашем сайте размещены наборы одежды из разных магазинов. Покупайте у нас и получайте большие бонусы за приведенных друзей. Наше сообщество должно расти и развиваться</p>
        <div style="clear: left"></div>
        <b><p class="block-1-button">Try Keneasyio </p></b>
        <div style="clear: left"></div>

    </div>
        <div style="clear: left"></div>



    <div class="blc">
    <img src="https://www.zeipt.com/static/media/zeiptValue.3a51f0c4e6cdf772f75b320192f28225.svg" class="block-2-img" style="width: 30%; float: left;">
    <div class="blc-blc">
        <b><h4 class="blc-h">...in the right place</h4></b>
        <p class="blc-p">No matter where the customer is:<br> In their customer club,
            banking app,<br> accounting software, loyalty scheme,<br> e-mail or telephone, they will receive their receipt.</p>
    </div>
    </div>


     <!--<h1 class="block-2-head">Remote is challenging</h1>-->
    <div style="clear: left"></div>

    <!--<img src="https://www.zeipt.com/static/media/zeiptPlace.4cb1a8b473831456a65f33b0aaa35e20.svg" class="block-2-img" style="width: 30%; float: left;">-->
    <!--<img src="media\images\park-tree.png" class="block-2-img">-->
    <div class="block-2">

        <!--
        https://flyclipart.com/thumb2/park-tree-icon-119463.png
        https://www.turing.com/img/rowing.svg
        -->
        <table>

            <tr>
                <td><img src="https://d2mk45aasx86xg.cloudfront.net/blue_earth_cb35b7397e.svg" width="80px" class="block-2-el"></td>
                <td><p class="block-2-el-p">Building an extensive global pipeline to find great people </p></td>
            </tr>
            <tr>
                <td><img src="https://d2mk45aasx86xg.cloudfront.net/blue_search_eace75fefc.svg" width="80px" class="block-2-el"></td>
                <td><p class="block-2-el-p">Vetting remote candidates without taking up all of the engineering time</p></td>
            </tr>
            <tr>
                <td><img src="https://d2mk45aasx86xg.cloudfront.net/blue_shield_3ba6f0edb0.svg" width="80px" class="block-2-el"></td>
                <td><p class="block-2-el-p">Making remote development easy, compliant, and secure</p></td>
            </tr>
        </table>

    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!--
        <div class="block-1-images">
            <img src="https://cdn.discordapp.com/attachments/917495560376836106/966728954847305728/img1.jpg" class="block-1-img">
        </div>
       -->
    {% include 'footer.html' %}
  </body>
</html>
