{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

    {% include 'menu.html' %}

    <br><br>
    <div class="ui container">
        <div class="first">
            <img src="https://cdn.discordapp.com/attachments/802608908140675092/864076822261137438/-1987987.jpg" width="700px" class="photo-first-page">
            <h4 class="first-text">Многое в этом мире нам приходится фильтровать
                <div class="word-1">и тратить на это время</div>
            </h4>
        </div>
        <section id="page2">
            <div class="third">
                <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" width="400px" class="photo-first1-page">
                <h4 class="third-text">Covid-19 все поменял. Мы стали всё больше покупать в онлайн-магазинах. Наш проект поможет людям хоть немного, но упростить выбор одежды в магазине.</h4>
                <h1 class="konkurs">Узнать</h1>
            </div>
        </section>
        <br><br><br>
        <div class="forth">
            <div class="text-block">
                <p class="f-block-info">
                    <img class="photo-second2-page" src="https://cdn.discordapp.com/attachments/802608908140675092/864125070628487168/tree.jpg" width="800px"><br><br><br>
                    Мы предлагаем простой интерфейс для фильтрации одежды и создание готового сета по трем параметра: размер одежды, время года, цена товара
                </p>
            </div>
        </div>

        <div style="clear: left"></div>
        <div style="clear: right"></div>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <footer>
            <h4 class="foot-el">© All rights reserved</h4>
            <h4 class="foot-el">discord</h4>
            <h4 class="foot-el">email</h4>
            <h4 class="foot-el">github</h4>
            <img src="https://cdn.discordapp.com/attachments/769529626610368522/863343768748687360/unknown.png" width="200px" class="foot-logo">
        </footer>
    </div>
  </body>
</html>