
{% extends 'base.html' %}
{% load bootstrap %}

<title>
    {% block title %}
        Keneasyio - filtering
    {% endblock title %}
</title>

{% block content %}

    {% include 'menu.html' %}


    <form method="GET">
        {{ filter.form }}
        <button type="submit" >Filter</button>
    </form>
    {% if filter.qs %}
        <table>
        {% for product in filter.qs %}
            <tr>
                <td>{{ product.category_season }}</td><td>{{ product.category_clothes }}</td><td>{{ product.category_size }}</td><td>{{ product.category_price }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Ops... </p>
    {% endif %}


{% endblock content %}
