{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

<title>
    {% block title %}
        Keneasyio - filtering
    {% endblock title %}
</title>

{% block content %}

    {% include 'menu.html' %}
    <br><br>

    <div>
    {% for set in sets %}
        <p>{{ set.name }}</p>
    {% endfor %}
    </div>


    <div style="padding-left: 20%;padding-right: 20%;" class="werqwer">
        <form method="GET">
            <p>{{ filter.form }}
                <button type="submit" style="display: inline-block;background: #7b81f5;color: #fff;padding: 12px;margin-left: 10px; border: none;border-radius: 3px;text-decoration: none;font-family: Tahoma;font-size: 18px;line-height: 1;font-weight: 100;cursor: pointer;">Filter</button>
            </p>
        </form>
    </div>

    <div class="all-prd">
        {% if filter.qs %}
            {% for product in filter.qs %}

                <div class="prd-slot">
                    <img src="{{ product.category_clothes.img.url }}" alt="" class="prd-img">

                    <table>
                        <tr>
                            <td><p class="prd-d">Season </p></td>
                            <td><p class="prd-d-1"> {{ product.category_season }} </p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Model</p></td>
                            <td><p class="prd-d-2">{{ product.category_clothes }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Size</p></td>
                            <td><p class="prd-d-3"> {{ product.category_size }}   </p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Price</p></td>
                            <td><p class="prd-d-4">{{ product.category_price }}  </p></td>
                        </tr>
                    </table>

                    <p class="btn-third"><b style="text-align: center;">В корзину</b></p>

                </div>

            {% endfor %}

        {% else %}
            <p>Ops... </p>
        {% endif %}
    </div>

{% endblock content %}
