{% extends 'base.html' %}
<title>
    {% block title %}
        Product Create
    {% endblock %}
</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}

    <div class="grey_page">
		{% include 'menu.html' %}
    </div> <br><br><br><br>

    <div class="post_form_div" style="padding-left: 20%;">
        <h1 class="h1_post_create">Product create</h1><br><br>
        <form method="post">
            {% csrf_token %}

            {{form}}
            <button type="submit" class="post_form_button">
                <p class="text_button">Do it</p>
            </button>
        </form>
    </div>

{% endblock %}