
{% extends 'base.html' %}
{% load bootstrap %}

<title>
    {% block title %}
        product_list
    {% endblock title %}
</title>

{% block content %}

    <header>
        <h1>Keneasyio</h1><br>
        <nav>
            <a href="https://colorhunt.co/" class="header-nav-a">HOME</a>
            <a href="https://colorhunt.co/" class="header-nav-a">PROFILE</a>
            <a href="https://colorhunt.co/" class="header-nav-a">FILTER CLOTHES</a>
        </nav>
    </header>

    <form method="GET">
        {{ filter.form }}
        <button type="submit" >Search</button>
    </form>
    {% if filter.qs %}
        <table border="1">
        {% for product in filter.qs %}
            <tr>
                <td>{{ product.category_season }}</td><td>{{ product.category_clothes }}</td><td>{{ product.category_size }}</td><td>{{ product.category_price }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No product</p>
    {% endif %}


{% endblock content %}
