body {
    background-color: #e3e3e3;
}

@import url(
    http://fonts.googleapis.com/css?family=Lato:400,700italic
);

* { padding: 0; margin: 0; }
body { background: #ffffff; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}

header {
    text-align: justify;
    height: 5em;
    padding: 2em 5%;
    background: #cddeff;
    font-family: 'Comfortaa', cursive;
    color: #516BEB;
}

.header-h1-io {
    color: cornflowerblue;
}

header::after {
    content: '';
    display: inline-block;
    width: 90%;
}

.header-nav-a {
    text-align: justify;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: #516BEB;
    padding-left: 10px;
}

header > div,
header > div::before,
header nav,
header > div h1 {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header > div {
    height: 90%;
}

header > div::before {
    content: '';
    height: 80%;
}

header > div h1 {
    font-size: 5em;
    font-style: italic;
}

header nav a {
    white-space: nowrap;
}

header nav a:last-child {
    padding-right: 0;
}

@media screen and (max-width: 720px){

    header {
        height: auto;
    }

    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}