body {
    background-color: #2c2f33;
}

.product-element {
    font-family: 'Comfortaa', cursive;
    color: white;
}

.all-products {
    background-color: #212122;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}