{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <meta charset="utf-8">
</head>
<body>




<div style="clear: left">
    <div style="clear: right">
<footer class="footer">

    <div class="container">
   <div class="footer-left-el">

       <h1 class="slogan">Keneasyio shop</h1>
       <p class="footer-email">All rights reserved | 2022</p>
       <div style="clear: left">
           <!--
       <ul class="footer-soc-net">
            <div class="social vk">
                <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
            </div>

            <div class="social telegram">
                <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
            </div>
            <div class="social whatsapp">
                <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
            </div>
       </ul>
       -->
   </div>
        </div>

  <table class="footer-table">
      <tr class="footer-um">
          <td class="footer-el-1">COMPANY</td>
          <td class="footer-el-2">LEGAL</td>
          <td class="footer-el-3">SOLUTIONS</td>
          <td class="footer-el-3">INFO</td>
      </tr>

      <tr class="footer-um">
          <td class="footer-el"><a href="{% url 'mainapp:about' %}" style="text-decoration: none; color: white">About</a></td>
          <td class="footer-el">Privacy</td>
          <td class="footer-el">Use Cases</td>
          <td class="footer-el">Blog</td>
      </tr>
      <tr>
          <td class="footer-el">Contact us</td>
          <td class="footer-el">Terms</td>
          <td class="footer-el">Features</td>
          <td class="footer-el">Mailing</td>
      </tr>
      <tr>
          <td class="footer-el">Pricing</td>
          <td class="footer-el">License</td>
          <td class="footer-el">Site map</td>
          <td class="footer-el">Indea</td>
      </tr>


  </table>
        <!--
<hr>
<h5 class="all-right"> © All right reserved | 2022</h5>
-->
<br><br><br>
</footer>

<!--<img src="https://cdn.discordapp.com/attachments/939885141269020752/966609907564548136/job.png" style="width: 20%; float:left">-->

</body>
</html>