{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>

        <div class="header">
            {% if request.user.is_authenticated %}
                <ul style="text-align: center;">
                    <li><h4><a href="/">home</a></h4></li>
                    <li><h4><a href="http://127.0.0.1:8000/filter/">filter</a></h4></li>
                    <li><h4><a href="http://127.0.0.1:8000/sets/">sets</a></h4></li>
                    <li><h4><a href="{% url 'profiles:profile' %}">profile</a></h4></li>
                    <li><h4><a href="{% url 'profiles:logout' %}">logout</a></h4></li>
                    <img src="https://www.shareicon.net/data/512x512/2016/08/05/806962_user_512x512.png" width="70px" style="border-radius: 90px;padding-right: 10px;">
                    <li><h4>{{ user.username }}#0001</h4></li>


            </ul>
            {% else %}
                <ul style="text-align: center;">
                    <li><h4><a href="/">home</a></h4></li>
                    <!--<li><h4><a href="http://127.0.0.1:8000/about/" style="text-decoration: none;">about</a></h4></li>-->
                    <li><h4><a href="http://127.0.0.1:8000/filter/">filter</a></h4></li>
                    <li><h4><a href="{% url 'profiles:login' %}">sign in</a></h4></li>
                    <li><h4><a href="{% url 'profiles:register' %}">sign up</a></h4></li>
                </ul>
            {% endif %}

        </div>
    </body>
</html>