

<div class="header">
        <!--
        <a href="/">
            <img src="https://cdn.discordapp.com/attachments/769529626610368522/863343768748687360/unknown.png" width="100px" class="logo">
        </a>
        -->
          <ul style="text-align: center;">
            <li><h4><a href="/" style="text-decoration: none;">home</a></h4></li>
            <li><h4><a href="http://127.0.0.1:8000/about/" style="text-decoration: none;">about</a></h4></li>
            <li><h4><a href="" style="text-decoration: none;">filter</a></h4></li>
          <li>
        <div class="user-nav">
                <a href="" class="ui item">
                    <h4 class="logout-button">logout</h4>
                </a>
        </div>
    </div>