{% extends 'base.html' %}
<title>{% block title %}{{ user.username }}{% endblock %}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}

    {% include 'menu.html' %}

    <div style="clear: left"></div><br><br>

    {% if request.user.is_admin %}

        <div class="main_div" style="padding-left: 20%;">
            <h1 class="nav__logo" style="float: left;">{{ user.username }}</h1><p class="verified-user">verified</p>
            <div style="clear: left"></div>
            <p class="user-products-count">{{ products.count }} products</p>
            <div style="clear: left"></div><br>
             <h4><a href="http://127.0.0.1:8000/create_product/" class="user-create"> create product</a></h4>
            <h4><a href="http://127.0.0.1:8000/create_set/" class="user-create"> create set</a></h4>
            <br>

            <div style="clear: left"></div>


        </div>

        <div  class="all-prd">
            {% for product in products %}
                <div class="prd-slot">
                    <img src="{{ product.category_clothes.img.url }}" alt="" class="prd-img">
                    <table>
                        <tr>
                            <td><p class="prd-d">Season </p></td>
                            <td><p class="prd-d-1"> {{ product.category_season }} </p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Model</p></td>
                            <td><p class="prd-d-2">{{ product.category_clothes }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Size</p></td>
                            <td><p class="prd-d-3"> {{ product.category_size }}   </p></td>
                        </tr>
                        <tr>
                            <td><p class="prd-d">Price</p></td>
                            <td><p class="prd-d-4">{{ product.category_price }}  </p></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>

    {% else %}
         <div class="main_div" style="padding-left: 20%;">
             <h1 class="profile_username">{{ user.username }}</h1>
            <p class="profile_username">{{ user.email }}</p>
        </div>

        <div style="padding-left: 20%;padding-right: 20%; " class="werqwer">
            <form method="POST">
                <p>
                    <h4><a href="{% url 'mainapp:post_create' %}" style="display: inline-block;background: #7b81f5;color: #fff;padding: 12px;margin-left: 10px; border: none;border-radius: 3px;text-decoration: none;font-family: Tahoma,serif;font-size: 18px;line-height: 1;font-weight: 100;cursor: pointer;">Verify account</a></h4>
                </p>
            </form>
        </div>
    {% endif %}

{% endblock %}
